{% extends "prices_templates/base.html" %}
{% load static %}
{% block content %}

<div class="content d-flex justify-content-center align-items-center mt-3" >
    <form class="login-form" method="post">
        {% csrf_token %}
        <div class="glass-card mb-0 py-2 px-5" style="border-radius: 0 !important;">
            <div class="card-body">
                <div class="text-center mb-3">
                    <div class="d-inline-flex align-items-center justify-content-center mb-0 mt-2">
                        <img src="{% static 'logo.png' %}" class="rounded-4" style="height: 75px;">
                    </div>
                    <h5 class="mb-0">Авторизація</h5>
                </div>

                {{ form.non_field_errors }}
                <div class="mb-3">
                    <div class="form-control-feedback form-control-feedback-start">
                        {{ form.login }}
                        <div class="form-control-feedback-icon">
                            <i class="ph-user-circle text-muted"></i>
                        </div>
                    </div>
                    {% if form.email.errors %}
                        <div class="text-danger small mt-1">{{ form.email.errors|striptags }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <div class="form-control-feedback form-control-feedback-start">
                        {{ form.password }}
                        <div class="form-control-feedback-icon">
                            <i class="ph-lock text-muted"></i>
                        </div>
                    </div>
                    {% if form.password.errors %}
                        <div class="text-danger small mt-1">{{ form.password.errors|striptags }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-info w-100" style="border-radius: 0;">Увійти</button>
                </div>

                <div class="mb-3">
                    <a href="{% url 'account_signup' %}" class="btn btn-info w-100" style="border-radius: 0;">Реєстрація</a>
                </div>

            </div>
        </div>
    </form>
</div>

{% endblock %}
