{% extends "prices_templates/base.html" %}
{% load static %}
{% block content %}

<div class="content d-flex justify-content-center align-items-center mt-3" >
    <form class="login-form" method="post">
        {% csrf_token %}
        <div class="card mb-0" style="border-radius: 0 !important;">
            <div class="card-body">
                <div class="text-center mb-3">
                    <div class="d-inline-flex align-items-center justify-content-center mb-0 mt-2">
                        <img src="{% static 'logo.png' %}" class="rounded-4" style="height: 75px;">
                    </div>
                    <h5 class="mb-0">Авторизація</h5>
                </div>

                {{ form.non_field_errors }}
                <div class="mb-3">
                    <label class="form-label" for="{{ form.email.id_for_label }}">Пошта</label>
                    <div class="form-control-feedback form-control-feedback-start">
                        {{ form.login }}
                        <div class="form-control-feedback-icon">
                            <i class="ph-user-circle text-muted"></i>
                        </div>
                    </div>
                    {% if form.email.errors %}
                        <div class="text-danger small mt-1">{{ form.email.errors|striptags }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="{{ form.password.id_for_label }}">Пароль</label>
                    <div class="form-control-feedback form-control-feedback-start">
                        {{ form.password }}
                        <div class="form-control-feedback-icon">
                            <i class="ph-lock text-muted"></i>
                        </div>
                    </div>
                    {% if form.password.errors %}
                        <div class="text-danger small mt-1">{{ form.password.errors|striptags }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Увійти</button>
                </div>

                <div class="text-center text-muted content-divider mb-3">
                    <span class="px-2">чи увійти через</span>
                </div>

                <div class="text-center mb-3">
                    <button type="button" class="btn btn-outline-primary btn-icon rounded-pill border-width-2"><i class="ph-facebook-logo"></i></button>
                    <button type="button" class="btn btn-outline-pink btn-icon rounded-pill border-width-2 ms-2"><i class="ph-dribbble-logo"></i></button>
                    <button type="button" class="btn btn-outline-secondary btn-icon rounded-pill border-width-2 ms-2"><i class="ph-github-logo"></i></button>
                    <button type="button" class="btn btn-outline-info btn-icon rounded-pill border-width-2 ms-2"><i class="ph-twitter-logo"></i></button>
                </div>

                <div class="text-center text-muted content-divider mb-3">
                    <span class="px-2">Don't have an account?</span>
                </div>

                <div class="mb-3">
                    <a href="{% url 'account_signup' %}" class="btn btn-light w-100">Реєстрація</a>
                </div>

                <span class="form-text text-center text-muted">
                    By continuing, you're confirming that you've read our
                    <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a>.
                </span>
            </div>
        </div>
    </form>
</div>

{% endblock %}
