{% extends "prices_templates/base.html" %}
{% load static %}

{% block content %}

    <form method="post" id="main_form" class="main-form w-100 mt-4">
        {% csrf_token %}
        {{ form.site }}
        {{ form.link }}
        <button type="submit" class="btn btn-info">Запит</button>
    </form>
    <div class="glass-card w-100 mt-4" style="border-radius: 0;">
        <div class="table-responsive">
            <table class="table text-white text-center mb-0">
                <tbody>
                    {% if products %}
                    {% for el in products %}
                        <tr>
                            <td class="text-center">
                                <a href="#">
                                    {% if el.icon %}
                                        <img src="{{ el.icon.url }}" class="rounded-circle" width="36" height="36" alt="">
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                <a href="{{ el.link }}" style="color: white; display: block; word-wrap: break-word; text-decoration: none; text-align: center;">
                                    {{ el.product_name|slice:":70" }}
                                </a>
                            </td>

                            <td><a style="color: white;">{% if el.price %}₴{{ el.price.price }}{% else %}—{% endif %}</a></td>

                            <td><a href="{% url 'product_info' el.id %}" class="badge bg-info text-white" style="text-decoration: none">Деталі</a></td>
                        </tr>
                        {% endfor %}
                    {% else %}

                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
