{% extends "prices_templates/base.html" %}
{% load static %}

{% block content %}
<style>
    .modal-content {
        margin: auto;
        display: block;
        max-width: 95%;
        max-height: 95%;
        border-radius: 0;
    }

    .price-current {
        font-weight: bold;
        color: red;
    }

    .price-old {
        font-weight: bold;
        color: black;
        text-decoration: line-through;
    }

    .products {
        width: 100%;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .product-item {
        width: 19%; height: auto;
        box-sizing: border-box;
        text-align: center;
        color: black;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 0;
    }

    .product-item img {
        width: 100%;
        height: 180px;
        object-fit: contain;
        display: block;
        margin: 0 auto 10px auto;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 0;
    }

    .product-name {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .price-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .price-current {
        text-align: left;
    }

    .price-old {
        text-align: right;
        text-decoration: line-through;
        color: #777;
    }

    .discount {
        color: red;
        font-weight: bold;
        text-align: center;
    }
</style>

<div class="d-flex">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg" bis_skin_checked="1" style="margin-left: 0px;">
          <div class="sidebar-content" bis_skin_checked="1">
              <div class="sidebar-section" bis_skin_checked="1">
                  <div class="sidebar-section-body d-flex justify-content-center" bis_skin_checked="1">
                      <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigation</h5>

                      <div bis_skin_checked="1">
                          <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                              <i class="ph-arrows-left-right"></i>
                          </button>

                          <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                              <i class="ph-x"></i>
                          </button>
                      </div>
                  </div>
              </div>
              <!-- /sidebar header -->

              <!-- Main navigation -->
              <div class="sidebar-section" bis_skin_checked="1">
                  <ul class="nav nav-sidebar" data-nav-type="accordion">
                      <li class="nav-item">
                          <div bis_skin_checked="1">
                              <div class="list-group list-group-borderless" bis_skin_checked="1">
                                  <a href="{% url 'discount_products' %}?discount_range=lt25" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                                      <span class="sidebar-resize-hide">Знижки до 25%</span>
                                  </a>

                                  <a href="{% url 'discount_products' %}?discount_range=25to50" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                                      <span class="sidebar-resize-hide">Знижки 25% - 50%</span>
                                  </a>

                                  <a href="{% url 'discount_products' %}?discount_range=gt50" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                                      <span class="sidebar-resize-hide">Знижки більше 50%</span>
                                  </a>

                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    <div class="d-grid">
        <div class="container products mt-2">
            {% for product in products %}
                {% if forloop.first or forloop.counter0|divisibleby:5 %}
                    <div class="row">
                {% endif %}

                        <div class="product-item" style="background: white;">
                            <img src="{{ product.image }}" alt="{{ product.name }}" class="product-image">
                            <a href="{{ product.link }}" style="color: black;">
                                <div class="product-name">{{ product.name|slice:":50" }}</div>
                            </a>
                            <div class="price-row">
                                <h4 class="price-current mb-0">{{ product.price }} грн</h4>
                                <h5 class="price-old mb-0">{{ product.price_old }} грн</h5>
                            </div>
                            <a class="discount">Знижка {{ product.discount }} %</a>
                        </div>

                {% if forloop.counter|divisibleby:5 or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
        <nav class="d-flex justify-content-center bg-light p-3">
            <ul class="pagination" id="pagination">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if discount_filter %}&discount_range={{ discount_filter }}{% endif %}">«</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">«</span>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}{% if discount_filter %}&discount_range={{ discount_filter }}{% endif %}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if discount_filter %}&discount_range={{ discount_filter }}{% endif %}">»</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">»</span>
                    </li>
                {% endif %}

            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}