{% extends "prices_templates/base.html" %}
{% load static %}

{% block content %}
<div>
    <form method="post" id="main_form" class="main-form w-100 mt-4">
        {% csrf_token %}
        {{ form.site }}
        {{ form.link }}
        {{ form.mail }}
        <button type="submit" class="btn btn-info">Запит</button>
    </form>

    {% if error %}
        <div class="alert glass-card text-center mt-3">{{ error }}</div>
    {% endif %}


    <div class="glass-card w-100 mt-4" style="border-radius: 0;">
        <div class="table-responsive">
            <table class="table text-white mb-0">
                <tbody>
                    {% for el in product_data %}
                    <tr>
                        <td class="text-center">
                            {% if el.product.icon %}
                                <img src="{{ el.product.icon.url }}" class="rounded-circle" width="36" height="36" alt="">
                            {% else %}
                                <span>-</span>
                            {% endif %}
                        </td>

                        <td>
                            <a href="{{ el.product.link }}" style="color: white; display: block; word-wrap: break-word; text-decoration: none; text-align: center;">
                                {{ el.product.product_name|slice:":70" }}
                            </a>
                        </td>

                        <td>
                            <a style="color: white; display: block; word-wrap: break-word; text-decoration: none; text-align: center;">
                                {% if el.price %}
                                    ₴{{ el.price }}
                                {% else %}
                                    —
                                {% endif %}
                            </a>
                        </td>


                        <td class="text-center">
                            <a href="{% url 'product_info' el.product.id %}" class="badge bg-info text-white" style="text-decoration: none">Деталі</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-center mt-5">
        <a href="{% url 'history' %}" class="glass-card p-3" style="text-decoration: none; color: white; border-radius: 0;">Всі товари</a>
    </div>



{% endblock %}