{% extends "prices_templates/base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-left text-left align-items-start mt-3 p-3"
         style="gap: 20px; background-color: white;">
        {% if product.image.url %}
        <img src="{{ product.image.url }}" width="150" height="150" style="border: black solid thin; padding: 1%;">
        {% else %}
        <img alt="Image not founded" width="150" height="150" style="border: black solid thin; padding: 1%;">
        {% endif %}
        <div class="d-grid gap-1">
            <h1 class="page-title mb-2"><a href="{{ product.link }}" style="color: black;">{{ product.product_name }}</a></h1>

            <div class="d-flex align-items-center mb-1">
                <div class="fw-semibold" style="width: 150px;">Ціна:</div>
                {% if price.price %}
                <div>₴{{ price.price }}</div>
                {% else %}
                <div>{{ price.price }}</div>
                {% endif %}
            </div>

            <div class="d-flex align-items-center mb-1">
                <div class="fw-semibold" style="width: 150px;">Стара ціна:</div>
                {% if price.old_price %}
                <div style="color: red; text-decoration: line-through;">₴{{ price.old_price }}</div>
                {% else %}
                <div>{{ price.old_price }}</div>
                {% endif %}
            </div>

            <div class="d-flex align-items-center mb-1">
                <div class="fw-semibold" style="width: 150px;">Знижка:</div>
                {% if price.discount %}
                <div><span class="text-success"><i class="ph-trend-down me-2"></i>{{ price.discount }}%</span>
</div>
                {% else %}
                <div>{{ price.discount }}</div>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="card d-flex justify-content-center mt-3" style="flex-grow: 1; border-radius: 0 !important;">
        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr>
                        <th>Сайт</th>
                        <th>Товар</th>
                        <th>Ціна</th>
                        <th>Стара ціна</th>
                        <th>Знижка</th>
                    </tr>
                </thead>
                <tbody>
                    {% for el in prices %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <a href="#" class="d-block me-3">
                                    {% if el.product.icon %}
                                        <img src="{{ el.product.icon.url }}" width="36" height="36" alt="">
                                    {% else %}
                                        <span>None</span>
                                    {% endif %}
                                </a>
                            </div>
                        </td>
                        <td><span class="text-muted"><a href="#" style="color: gray;">{{ el.date }}</a></span></td>

                        {% if el.price %}
                        <td><p class="mb-0">₴{{ el.price }}</p></td>
                        {% else %}
                        <td><p class="mb-0">—</p></td>
                        {% endif %}

                        {% if el.old_price %}
                        <td><p class="mb-0" style="color: red; text-decoration: line-through;">₴{{ el.old_price }}</p></td>
                        {% else %}
                        <td><p class="mb-0">—</p></td>
                        {% endif %}

                        {% if el.discount %}
                        <td><span class="text-success"><i class="ph-trend-down me-2"></i>{{ el.discount }}%</span></td>
                        {% else %}
                        <td><span class="text-danger">—</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}