{% extends "prices_templates/base.html" %}
{% load static %}

{% block content %}
<style>
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  justify-items: center;
}
.grid-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.grid-item div {
  margin-top: 8px;
  font-weight: 600;
  text-align: center;
  word-break: break-word;
}
</style>

<div class="d-flex">
<!-- Main sidebar -->
  <div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg" bis_skin_checked="1" style="margin-left: 0px;">
          <div class="sidebar-content" bis_skin_checked="1">
              <div class="sidebar-section" bis_skin_checked="1">
                  <div class="sidebar-section-body d-flex justify-content-center" bis_skin_checked="1">
                      <h5 class="sidebar-resize-hide flex-grow-1 my-auto">Navigation</h5>

                      <div bis_skin_checked="1">
                          <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                              <i class="ph-arrows-left-right"></i>
                          </button>

                          <button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
                              <i class="ph-x"></i>
                          </button>
                      </div>
                  </div>
              </div>
              <!-- /sidebar header -->

              <!-- Main navigation -->
              <div class="sidebar-section" bis_skin_checked="1">
                  <ul class="nav nav-sidebar" data-nav-type="accordion">
                      <li class="nav-item">
                          <div bis_skin_checked="1">
                              <div class="list-group list-group-borderless" bis_skin_checked="1">
                                  <a href="{% url 'discount_products' %}?discount_range=lt25" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                                      <span class="sidebar-resize-hide">Знижки до 25%</span>
                                  </a>

                                  <a href="{% url 'discount_products' %}?discount_range=25to50" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                                      <span class="sidebar-resize-hide">Знижки 25% - 50%</span>
                                  </a>

                                  <a href="{% url 'discount_products' %}?discount_range=gt50" class="list-group-item list-group-item-action bg-transparent text-white border-0">
                                      <span class="sidebar-resize-hide">Знижки більше 50%</span>
                                  </a>

                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  <div class="content mt-2">
    <div class="card">
      <div class="card-body d-flex justify-content-center">
        <div class="container-fluid">
          <div class="grid-container">
            {% for cat in departments %}
            <div class="grid-item">
              <a href="{% url 'category' cat.name %}" class="d-flex flex-column align-items-center text-decoration-none text-dark text-center">
                {% if cat.icon %}
                  <img src="{{ cat.icon.url }}" alt="{{ cat.name }}">
                {% else %}
                  <img src="{% static 'default_icon.png' %}" alt="{{ cat.name }}">
                {% endif %}
                <div>{{ cat.name }}</div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

